<form [formGroup]="bookForm" (ngSubmit)="submitForm()">

  <div class="form-group required">
    <label for="isbn">ISBN</label>
    <input
      formControlName="isbn"
      type="text" class="form-control" id="isbn">
  </div>

  <div class="feedback-red" *ngIf="isInvalid('isbn')">
    Bitte geben Sie eine gütlige ISBN an:
  </div>

  <div class="feedback-red"
    *ngIf="hasError('isbn', 'required')">
    Bitte geben Sie eine ISBN ein.
  </div>

  <div class="feedback-red"
    *ngIf="hasError('isbn', 'minlength')">
    Bitte geben Sie mehr als 2 Zeichen ein.
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input
      formControlName="title"
      type="text" class="form-control" id="title">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      formControlName="description"
      type="text" class="form-control" id="description"></textarea>
  </div>

  <div class="form-group">
    <button
      [disabled]="bookForm.invalid"
      class="btn btn-primary" type="submit">Create</button>
  </div>

</form>
