<div class="card">
  <div class="card-header">
    <div class="text-center">
      <strong>{{ name }}</strong>
      <span class="badge badge-success ml-2" *ngIf="online">Online</span>
      <span class="badge badge-danger ml-2" *ngIf="!online">Offline</span>
    </div>
  </div>
  <div class="card-body">
    <form (ngSubmit)="sendMessage()" [formGroup]="form">
      <input class="form-control form-control-lg" formControlName="message">
      <button type="submit" class="btn btn-block btn-sm btn-success mt-1">Send</button>
      <button type="button" class="btn btn-block btn-sm btn-outline-danger mt-1" (click)="leaveChat()">Leave</button>
    </form>
  </div>
</div>