<!-- book.component.html -->
<div class="card mb-4">
  <div class="card-body bg-light">
    <img
      *ngFor="let t of book.thumbnails"
      class="img-thumbnail float-right ml-2"
      [src]="t.url"
      [title]="t.title"
      width="200">

    <div class="card-title">
      <h2>
        {{ book.title | uppercase }} ({{ book.price | currency: 'EUR' }})
        <!-- <span class="badge badge-secondary">{{ book.rating }}</span> -->
        <span *brRating="book.rating">⭐️</span>
        <!-- <span *ngFor="let i of [].constructor(book.rating)">⭐️</span> -->
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button
      [disabled]="book.rating <= minRating"
      (click)="doRateDown()" class="btn btn-secondary mr-2"> - </button>

    <button
      [disabled]="book.rating >= maxRating"
      (click)="doRateUp()" class="btn btn-primary mr-2"> + </button>

    <a class="btn btn-secondary"
      [routerLink]="['/book', book.isbn]"
      >Details</a>

  </div>
</div>
