<!-- book.component.html -->
<div class="card mb-4">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">{{ book.rating }}</span>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button (click)="doRateDown()" class="btn btn-secondary mr-2"> - </button>
    <button (click)="doRateUp()" class="btn btn-primary"> + </button>

  </div>
</div>
